<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Hello World</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--CSS FILES REQUIRED-->
	</head>
	
	<body>
		<center>
			<h1> What's Happening? </h1>
			<form action="/" method='POST'>
				{% csrf_token %}
				<div>
					{% for fields in form %} {{ fields }} {% endfor %}
				</div>
				
				<table>	
					{% for stats in stats %}
					<p> {{stats.status}} </p>
					<br/>
					{% endfor %}
					<!---->
				</table>
			</form>
		</center>
	</body>